footer
  .footer
    .container
      .row
        .col-md-6.g-0
          include mail
        .col-md-6.g-0.footer-menu.border
          .row.g-0
            .col-md-3
              .footer-menu__title Shop
                ul.footer-list
                  li.footer-list__item Women
                  li.footer-list__item Men
            .col-md-3
              .footer-menu__title HNST
                ul.footer-list
                  li.footer-list__item Home page
                  li.footer-list__item HNST About
                  li.footer-list__item Contact
            .col-md-3
              .footer-menu__title Legal
                ul.footer-list
                  li.footer-list__item Terms of Service
                  li.footer-list__item Privacy Policy
                  li.footer-list__item Cookie Policy
                  li.footer-list__item Shipping Policy
                  li.footer-list__item Refund and Returns Policy
            //- .col-md-3
            //-   ul.footer-list
            //-     li.footer-list__item.upper.padding-bottom Shop
            //-     li.footer-list__item Women
            //-     li.footer-list__item Men
            //- .col-md-3
            //-   ul.footer-list
            //-     li.footer-list__item.upper.padding-bottom HNST
            //-     li.footer-list__item Home page
            //-     li.footer-list__item HNST About
            //-     li.footer-list__item Contact
            //- .col-md-3
            //-   ul.footer-list
            //-     li.footer-list__item.upper.padding-bottom Legal
            //-     li.footer-list__item Terms of Service
            //-     li.footer-list__item Privacy Policy
            //-     li.footer-list__item Cookie Policy
            //-     li.footer-list__item Shipping Policy
            //-     li.footer-list__item Refund and Returns Policy
            .col-md-3
              .footer-socials
                img(src="../images/instasymbol.png", alt="offer").footer-socials__photo
                img(src="../images/facebooksymbol.png", alt="offer").footer-socials__photo
                img(src="../images/twittersymbol.png", alt="offer").footer-socials__photo
          .footer-bottom
          .row
            .col-md-6.align-self-end
              span.footer__rights © Circular Textiles 2021
            .col-md-6
              img(src="../images/logo.png", alt="logo").footer__logo