footer
  .footer
    .container
      .row
        .col-md-6.g-0
          include mail
        .col-md-6.g-0
          .row
            .col-md-2
              ul.footer-list
                li.footer-list__item.upper Shop
                li.footer-list__item Women
                li.footer-list__item Men
            .col-md-2
              ul.footer-list
                li.footer-list__item.upper HNST
                li.footer-list__item Home page
                li.footer-list__item HNST About
                li.footer-list__item Contact
            .col-md-4
              ul.footer-list
                li.footer-list__item.upper Legal
                li.footer-list__item Terms of Service
                li.footer-list__item Privacy Policy
                li.footer-list__item Cookie Policy
                li.footer-list__item Shipping Policy
                li.footer-list__item Refund and Returns Policy
            .col-md-4
              .footer-socials
                img(src="../images/instasymbol.png", alt="offer").footer-socials__photo
                img(src="../images/facebooksymbol.png", alt="offer").footer-socials__photo
                img(src="../images/twittersymbol.png", alt="offer").footer-socials__photo