footer
  .footer
    .container
      .row
        .col-lg-6.g-0
          include mail
        .col-lg-6.g-0.footer-menu.border
          .row.g-0
            .col-sm-3.col-6
              ul.footer-list
                li.footer-list__item_title.upper Shop
                li.footer-list__item
                  a Women
                li.footer-list__item
                  a Men
            .col-sm-3.col-6
              ul.footer-list
                li.footer-list__item_title.upper HNST
                li.footer-list__item
                  a Home page
                li.footer-list__item
                  a HNST About
                li.footer-list__item
                  a Contact
            .col-sm-3.col-12
              ul.footer-list
                li.footer-list__item_title.upper Legal
                li.footer-list__item
                  a Terms of Service
                li.footer-list__item
                  a Privacy Policy
                li.footer-list__item
                  a Cookie Policy
                li.footer-list__item
                  a Shipping Policy
                li.footer-list__item
                  a Refund and Returns Policy
            .col-sm-3.col-12
              .footer-socials
                a
                  img(src="../images/instasymbol.png", alt="offer").footer-socials__photo
                a
                  img(src="../images/facebooksymbol.png", alt="offer").footer-socials__photo
                a
                  img(src="../images/twittersymbol.png", alt="offer").footer-socials__photo
          .footer-bottom
            .row
              .col.align-self-end
                span.footer__rights © Circular Textiles 2021
              .col
                img(src="../images/logo.png", alt="logo").footer__logo