header
  .header.upper
    nav.navbar
      .container
        .navbar__wrap
          .hamburger
            .hamburger__field#hamburger
              span.bar
              span.bar
              span.bar
          .navbar-menu#navbar-menu
            ul.menu#menu
              li.menu__item
                a(href="#").menu__link Women
              li.menu__item
                a(href="#").menu__link Men
              li.menu__item
                a(href="#").menu__link Collaborations
              li.menu__item
                a(href="#").menu__link Gift Card
            a
              img(src="../images/logo.png", alt="logo").menu__logo
            ul.menu#menu
              li.menu__item
                a(href="#").menu__link HNST About
              li.menu__item
                a(href="#").menu__link Stories
              li.menu__item
                a(href="#").menu__link CART (0)
    .popup#popup
