header
  .header.upper
    nav.navbar
      .container
        .navbar__wrap
          .hamburger
            .hamburger__field#hamburger
              span.bar
              span.bar
              span.bar
          .navbar-menu#navbar-menu
            ul.menu#menu
              li.menu__item
                a(href="#").menu__link Women
              li.menu__item
                a(href="#").menu__link Men
              li.menu__item
                a(href="#").menu__link Collaborations
              li.menu__item
                a(href="#").menu__link Gift Card
            a
              img(src="../images/logo.png", alt="logo").menu__logo
            ul.menu#menu
              li.menu__item
                a(href="#").menu__link HNST About
              li.menu__item
                a(href="#").menu__link Stories
              li.menu__item
                a(href="#").menu__link CART (0)
    .popup#popup





    //- .container
    //-   .row.align-self-center
    //-     nav.col-xl-5.d-xl-flex.d-lg-none
    //-       ul.nav
    //-         li.nav-item
    //-           a(href="#").nav-link Women
    //-         li.nav-item
    //-           a(href="#").nav-link Men
    //-         li.nav-item
    //-           a(href="#").nav-link Collaborations
    //-         li.nav-item
    //-           a(href="#").nav-link Gift Card
    //-     a.col-xl-2.col-lg-6(href="#")
    //-       img(src="../images/logo.png", alt="logo").nav-logo
    //-     nav.col-xl-5.d-xl-flex.d-lg-none
    //-       ul.nav(style="float: right;")
    //-         li.nav-item
    //-           a(href="#").nav-link HNST About
    //-         li.nav-item
    //-           a(href="#").nav-link Stories
    //-         li.nav-item
    //-           a(href="#").nav-link CART (0)
    //-     .col-lg-6
    //-       .burger
    //-         span.burger__item
    //-         span.burger__item
    //-         span.burger__item