header
  .header.upper
    .container
      .row.align-self-center
        nav.col-md-4
          ul.nav
            li.nav-item
              a(href="#").nav-link Women
            li.nav-item
              a(href="#").nav-link Men
            li.nav-item
              a(href="#").nav-link Collaborations
            li.nav-item
              a(href="#").nav-link Gift Card
        a.col-md-4(href="#")
          img(src="../images/logo.png", alt="logo").nav-logo
        nav.col-md-4
          ul.nav
            li.nav-item
              a(href="#").nav-link HNST About
            li.nav-item
              a(href="#").nav-link Stories
            li.nav-item
              a(href="#").nav-link CART (0)