form.form
  h2.form__title Newsletter
  p.form__paragraph Honestly good e-mails. We swear. Receive offers, updates, tips and exclusive invites.
  .form-inner
    input(type="text", placeholder="First name", name="firstName").form-inner__input.upper
    input(type="text", placeholder="Last name", name="lastName").form-inner__input.upper
    input(type="text", placeholder="Email", name="mail").form-inner__input.upper
    button.form-inner__btn.upper subscribe
  a.form__license Read our privacy policy
//-   .row
//-     .col-3
//-       label.form__label
//-         input(type="text", placeholder="First name").form__input
//-     .col-3
//-       label.form__label
//-         input(type="text", placeholder="Last name").form__input
//-   .row
//-     .col-4
//-       label.form__label
//-         input(type="text", placeholder="Email").form__input
//-     .col-2
//-       button.btn__form subscribe
//-   a.form__license Read our privacy policy

//- .table
//-   tr(colspan="3")
//-     label.form__label
//-       input(type="text", placeholder="First name").form__input
//-   tr(colspan="3")
//-     label.form__label
//-       input(type="text", placeholder="Last name").form__input
//-   tr(colspan="4")
//-     label.form__label
//-       input(type="text", placeholder="Email").form__input
//-   tr(colspan="2")
//-     button.btn__form subscribe
