@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro&display=swap");
a:active,
a:hover,
a {
  color: #FF0000;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #FF0000;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #FF0000;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #FF0000;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #FF0000;
}

.upper {
  text-transform: uppercase;
}

.margin {
  padding-top: 3rem;
}

.border {
  border-left: 0.1rem solid #FF0000;
}

.hover:hover {
  background-color: #fff;
  cursor: pointer;
}

html {
  font-size: 10px;
}

body {
  background-color: F5F2EA;
  color: #FF0000;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 992px) {
  body {
    font-size: 11px;
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

section {
  border-bottom: 0.1rem solid #FF0000 !important;
}

input[type=text]::-webkit-input-placeholder {
  color: #FF0000;
}

input[type=text]::-moz-placeholder {
  color: #FF0000;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.5rem;
  font-weight: bold;
}
.hamburger-menu:nth-child(1) {
  padding-top: 9rem;
}
.hamburger-menu:hover {
  color: #FF0000;
}

.overflow {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  padding: 0 2.5rem;
  align-items: center;
  border-bottom: 0.1rem solid #FF0000;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif !important;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu__logo {
  width: 11rem;
  height: 3.4rem;
  display: block;
}
.menu__item {
  padding: 2.7rem 4rem 2.8rem 0rem;
}
.menu__item:hover:after {
  content: "";
  position: absolute;
  border-bottom: 0.4rem solid #FF0000;
  width: 4rem;
  display: block;
  top: 7.3rem;
}
.menu__item:last-child {
  padding-right: 0;
}

.hamburger {
  display: none;
}

.popup {
  display: none;
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }

  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: flex;
  }
  .hamburger__field {
    padding: 1rem 0;
    cursor: pointer;
  }
  .hamburger__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger__field.active .bar:nth-child(1) {
    transform: translateY(9.2px) rotate(45deg);
  }
  .hamburger__field.active .bar:nth-child(3) {
    transform: translateY(-9.2px) rotate(-45deg);
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #FF0000;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
  }

  .open {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  body.noscroll {
    overflow: hidden;
  }
}
/* sticky header */
body {
  z-index: 5;
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation-name: show_header;
          animation-name: show_header;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

@-webkit-keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.ad-notice {
  font-size: 1.4rem;
  display: block;
  color: #FF0000;
}

#offer {
  background-color: #F0D2B7;
  padding: 15rem 0;
  text-align: center;
}
@media (max-width: 992px) {
  #offer {
    padding: 15rem 0 0;
  }
}

.offer-btn {
  border: 0.1rem solid #FF0000;
  font-size: 1.5rem;
  padding: 3rem 0;
  width: 20rem;
  display: block;
}
.offer-btn:hover {
  color: white;
  background-color: #FF0000;
}
.offer-btn:nth-child(1) {
  margin-right: 3rem;
}
@media (max-width: 992px) {
  .offer-btn {
    margin-bottom: 7.3rem;
  }
}
@media (max-width: 992px) {
  .offer-photo {
    width: 100%;
    height: 50rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.offer-quote {
  font-size: 1.9rem;
}
.offer-title {
  font-size: 6.5rem;
  margin: 2.5rem 0 2.9rem;
}
.offer-subtitle {
  font-size: 2.1rem;
  margin-bottom: 7.3rem;
}
.offer-notice {
  font-size: 1.4rem;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .btn-group {
    display: inline-block;
  }
}

#why {
  background-color: #fff;
}

.yes, .no {
  border-right: 0.1rem solid #FF0000;
  padding-left: 3rem;
}
@media (max-width: 992px) {
  .yes, .no {
    padding-bottom: 7.3rem;
  }
}

.why-title {
  font-size: 3.4rem;
  padding: 2.7rem 0 5.3rem;
}
.why-list__item {
  font-size: 2.1rem;
  font-weight: 300;
}
.why-inner {
  height: 100%;
}
@media (max-width: 992px) {
  .why-photo {
    width: 100%;
    height: 50rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.compromise {
  padding: 2.4rem 0 16.7rem;
}
.compromise-title {
  font-size: 4.6rem;
  font-weight: 300;
  padding-top: 2.4rem;
}

.shop-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #FF0000;
}
.shop-button__arrow {
  padding-top: 5rem;
  margin-right: 3rem;
  float: right;
}
.shop-button__title {
  font-size: 6.5rem;
  padding: 5.1rem 0 2.9rem 3rem;
}

.form {
  padding: 2.9rem 0 2rem 2.6rem;
}
.form__title {
  font-size: 4.8rem;
}
.form__paragraph {
  padding: 3.1rem 0 0.9rem 0;
  font-size: 2rem;
  max-width: 41.9rem;
  display: block;
}
.form__license {
  padding-top: 8.2rem;
  display: block;
}
.form__license:hover:after {
  content: "";
  position: absolute;
  border-bottom: 0.1rem solid #FF0000;
  width: 13.7rem;
  display: block;
}
@media (max-width: 992px) {
  .form__license:hover:after {
    width: 11.5rem;
  }
}
.form-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 35.48rem;
  max-height: 7rem !important;
}
.form-inner__btn {
  color: #fff;
  background-color: #FF0000;
  border: 0.1rem solid #FF0000;
  font-size: 1rem;
  letter-spacing: 0.223rem;
}
.form-inner__input {
  padding: 1.4rem 0 0.3rem 1rem;
  border: 0.2rem solid #FF0000;
  font-size: 0.9rem;
  letter-spacing: 0.223rem;
  width: 50%;
}
.form-inner__input:nth-child(3) {
  width: 74%;
}
@media (max-width: 992px) {
  .form-inner__input:nth-child(3) {
    width: 74.1%;
  }
}

@media (max-width: 992px) {
  .mail-photo {
    width: 100%;
    height: 40rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.product-featured {
  padding: 4.6rem 0 3rem 3rem;
}
.product-featured__title {
  font-size: 3.3rem;
  margin-bottom: 41rem;
}
@media (max-width: 768px) {
  .product-featured__title {
    margin-bottom: 15rem;
  }
}
@media (max-width: 768px) {
  .product-featured__arrow {
    transform: rotate(90deg);
  }
}
.product-card {
  margin-left: 2.6rem;
}

.press-read {
  margin: 3rem 0 3rem 3rem;
}
.press-btn {
  border: 0.1rem solid #FF0000;
  margin-top: 32.8rem;
  border-radius: 50%;
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  color: #FF0000;
  letter-spacing: 0.13rem;
  background-color: #F5F2EA;
}
.press-btn:hover {
  color: #fff;
  background-color: #FF0000;
}
.press__title {
  font-size: 4.8rem;
}
.press-slide__subtitle {
  font-size: 2.2rem;
  max-width: 65rem;
  margin-top: 4.4rem;
  display: block;
}
.press-slide__title {
  font-size: 4.8rem;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 3rem 0 3rem 3rem;
}
.slider-inner {
  height: 41.5rem;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.dot.active {
  background-color: #FF0000;
}

.dots-wrapper {
  display: flex;
  margin-top: 15px;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #FF0000;
  margin-right: 1.4rem;
  cursor: pointer;
}
.dot:last-child {
  margin-right: 0;
}

.btn-prev {
  display: block;
}

.btn-next {
  display: block;
}

.footer-menu {
  padding: 3rem;
}
@media (max-width: 992px) {
  .footer-menu {
    border-top: 1px solid #FF0000;
  }
}
.footer-socials {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}
.footer-socials__photo {
  margin-left: 2.6rem;
  cursor: pointer;
}
.footer__logo {
  float: right;
}
.footer-bottom {
  margin-top: 9.7rem;
}
.footer-list__item {
  line-height: 2.8rem;
  cursor: pointer;
}
.footer-list__item:hover:after {
  content: "";
  position: absolute;
  border-bottom: 0.3rem solid #FF0000;
  width: 3rem;
  display: block;
}
.footer-list__item_title {
  padding-bottom: 2rem;
}

.padding-bottom {
  padding-bottom: 1.3rem;
}/*# sourceMappingURL=style.css.map */