@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro&display=swap');

$main: #FF0000;

$extra-small:        320px;
$small:              576px;
$medium:             768px;
$large:              992px;
$x-large:           1200px;
$xx-large:          1400px;

a:active,
a:hover,
a {
  color: $main;
  text-decoration: none;
  cursor: pointer;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: $main;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $main;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $main;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    $main;
}
.upper {
  text-transform: uppercase;
}
.margin {
  padding-top: 3rem;
}
.border {
  border-left: .1rem solid $main;
}
.hover {
  &:hover {
  background-color: #fff;
  cursor: pointer;
  }
}
html {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: F5F2EA;
  color: $main;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  @media (max-width: $large) {
    font-size: 11px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    transition: all .5s ease;
}
section {
  border-bottom: .1rem solid $main !important;
}
input[type="text"]::-webkit-input-placeholder {
  color: $main;
}
input[type="text"]::-moz-placeholder {
  color: $main;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}
section {
  @media (max-width: $small) {
    padding: 0 1.5rem;
  }
}






// HEADER
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 1.5rem;
  font-weight: bold;
  &:nth-child(1) {
    padding-top: 7rem;
  }
  &:hover {
    color: $main;
  }
  & .menu__item {
    padding: 1rem 0 1rem 0;
    &:hover:active {
      content: '';
      position: absolute;
      border-bottom: .4rem solid $main;
      width: 4rem;
      display: block;
    }
  }
}
.overflow {
  overflow:hidden;
  object-fit: cover;
}
.none {
  display: none;
}
.header {
  align-items: center;
  border-bottom: .1rem solid $main;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: 0.098rem;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 11rem;
    height: 3.4rem;
    display: block;
    margin-right: 12.4rem;
    @media (max-width: $large) {
      margin-right: 0;
    }
  }
  &__item {
    padding: 2.7rem 4rem 2.8rem 0rem;
    &:hover:after {
      content: '';
      position: absolute;
      border-bottom: .4rem solid $main;
      width: 4rem;
      display: block;
      top: 7.3rem;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.hamburger {
  display: none;
}
.popup {
  display: none;
}
@media (max-width: $large) {
  .menu {
    display: none;
  }
  .navbar {
    &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  }
  .hamburger {
    display: flex;
    &__field {
      padding: 1rem 0;
      cursor: pointer;
      &.active .bar:nth-child(2) {
        opacity: 0;
      }
      &.active .bar:nth-child(1) {
        transform: translateY(9.2px) rotate(45deg);
      }
      &.active .bar:nth-child(3) {
        transform: translateY(-9.2px) rotate(-45deg);
      }
    }
    &-menu {
      display: flex;
      flex-direction: column;
      overflow: auto;
      align-items: center;
    }
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: $main;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
  }
  .open {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  body {
    &.noscroll {
      overflow: hidden;
    }
  }
}
/* sticky header */
body {
	z-index: 5;
}
.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	animation-name: show_header;
	animation-duration: 1s;
	background-color: #fff;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
	z-index: 10;
}
@keyframes show_header {
	0%{
		opacity: 0;
		top: -70px;
	}
	100%{
		opacity: 1;
		top: 0;
	}
}




//    section OFFER
.add-notice {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.5rem 0 1.1rem;
}
.exit__button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: block;
  float: right;
  padding-bottom: 2rem;
  position: relative;
  top: -2.5rem;
  &_left {
    width: 2rem;
    height: 0.1rem;
    transform: translateY(.05rem) rotate(45deg);
    display: block;
    background-color: $main;
  }
  &_right {
    width: 2rem;
    height: 0.1rem;
    transform: translateY(-.05rem) rotate(-45deg);
    display: block;
    background-color: $main;
  }
}
#offer {
  background-color: #F0D2B7;
  padding: 15rem 0;
  text-align: center;
  @media (max-width: $large) {
    padding: 10rem 0 0;
  }
  @media (max-width: $small) {
    padding: 7rem 0 0;
  }
}
.offer {
  &-btn {
    border: .1rem solid $main;
    font-size: 1.5rem;
    padding: 2.5rem 0;
    width: 20rem;
    display: block;
    &:hover {
      color: white;
      background-color: $main;
    }
    &:nth-child(1) {
      margin-right: 3rem;
    }
    @media (max-width: $large) {
      margin-bottom: 7.3rem;
    }
    @media (max-width: $small) {
      margin-bottom: 3rem;
      width: 14rem;
      font-size: 1rem;
    }
  }
  &-photo {
    @media (max-width: $large) {
      width: 100%;
      height: 50rem;
      object-fit: cover;
    }
  }
  &-quote {
    font-size: 1.9rem;
    @media (max-width: $small) {
      font-size: 1.4rem;
    }
  }
  &-title {
    font-size: 6.5rem;
    margin: 2.5rem 0 2.9rem;
    @media (max-width: $x-large) {
      font-size: 5rem;
    }
    @media (max-width: $small) {
      font-size: 3.8rem;
    }
  }
  &-subtitle {
    font-size: 2.1rem;
    margin-bottom: 7.3rem;
    @media (max-width: $small) {
      font-size: 1.7rem;
      margin-bottom: 4.3rem;
    }
  }
  &-notice {
    font-size: 1.4rem;
    margin: 0 auto;
  }
}
.btn-group {
  display: flex;
  justify-content: center;
}



//    section WHY
#why {
  background-color: #fff;
}
.yes, .no {
  border-right: .1rem solid $main;
  padding-left: 3rem;
  @media (max-width: $large) {
    padding-bottom: 7.3rem;
  }
}
.why {
  &-title {
    font-size: 3.4rem;
    padding: 2.7rem 0 5.3rem;
  }
  &-list__item {
    font-size: 2.1rem;
    font-weight: 300;
    @media (max-width: $small) {
      font-size: 1.6rem;
    }
  }
  &-inner {
    height: 100%;
  }
  &-photo {
    @media (max-width: $large) {
      width: 100%;
      height: 50rem;
      object-fit: cover;
    }
  }
}



//   Compromise section
.compromise{
  padding-top: 2.4rem;
  padding-bottom: 16.7rem;
  &-title {
    font-size: 4.6rem;
    font-weight: 300;
    padding-top: 2.4rem;
    @media (max-width: $small) {
      font-size: 3.5rem;
    }
  }
}



//    Shop section
.shop {
  &-button {
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $main;
    }
    &__arrow {
      padding-top: 5rem;
      margin-right: 3rem;
      float: right;
    }
    &__title {
      font-size: 6.5rem;
      padding: 5.1rem 0 2.9rem 3rem;
      @media (max-width: $small) {
        font-size: 4.5rem;
      }
    }
    &__photo {
      max-width: 100%;
    }
  }
}
.image-wrapper {
  width: 100%;
}


//    Email section
.form {
  padding: 2.9rem 0 2rem 2.6rem;
  &__title {
    font-size: 4.8rem;
  }
  &__paragraph {
    padding: 3.1rem 0 .9rem 0;
    font-size: 2rem;
    max-width: 41.9rem;
    display: block;
  }
  &__license {
    padding-top: 8.2rem;
    display: block;
    &:hover:after {
      content: '';
      position: absolute;
      border-bottom: .1rem solid $main;
      width: 13.7rem;
      display: block;
      @media (max-width: $large) {
        width: 11.5rem;
      }
    }
  }
  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 35.48rem;
    max-height: 7rem !important;
    @media (max-width: $small) {
      width: 25rem;
    }
    &__btn {
      color: #fff;
      background-color: $main;
      border: .1rem solid $main;
      font-size: 1rem;
      letter-spacing: .223rem;
    }
    &__input {
      padding: 1.4rem 0 .3rem 1rem;
      border: .2rem solid $main;
      font-size: .9rem;
      letter-spacing: .223rem;
      width: 50%;
      &:nth-child(3) {
        width: 74%;
        @media (max-width: $large) {
          width: 74.1%;
        }
        @media (max-width: $small) {
          width: 63%;
        }
      }
    }
  }
}
.mail-photo {
  @media (max-width: $large) {
    width: 100%;
    height: 40rem;
    object-fit: cover;
  }
}
.note {
  font-size: 2rem;
}





//    Product section
.product {
  &-featured {
    padding: 4.6rem 0 3rem 3rem;
    &__title {
      font-size: 3.3rem;
      margin-bottom: 41rem;
      @media (max-width: $medium) {
        margin-bottom: 15rem;
      }
      @media (max-width: $small) {
        font-size: 2.5rem;
      }
    }
    &__arrow {
      @media (max-width: $medium) {
        transform: rotate(90deg)
      }
    }
  }
  &-card {
    margin-left: 2.6rem;
    &__image {
      @media (max-width: $medium) {
        height: 45rem;
      }
    }
  }
  &-about {
    display: flex;
    justify-content: space-between;
    padding-top: 2.2rem;
    max-width: 30.5rem;
  }
}






//    Press/slider
.press {
  &-read {
    margin: 3rem 0 3rem 3rem;
  }
  &-btn {
    border: .1rem solid $main;
    margin-top: 32.8rem;
    @media (max-width: $medium) {
      margin-top: 15rem;
    }
    border-radius: 50%;
    padding: 2rem 1.5rem;
    font-size: 1.5rem;
    color: $main;
    letter-spacing: .13rem;
    background-color: #F5F2EA;
    &:hover {
      color: #fff;
      background-color: $main;
    }
  }
  &__title {
    font-size: 4.8rem;
  }
  &-slide {
    &__subtitle {
      font-size: 2.2rem;
      max-width: 65rem;
      margin-top: 4.4rem;
      display: block;
    }
    &__title {
      font-size: 4.8rem;
      @media (max-width: $medium) {
        font-size: 3.3rem;
      }
    }
  }
}
.slider {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 3rem 0 3rem 3rem;
  &-inner {
    height: 41.5rem;
    @media (max-width: $medium) {
      height: 35rem;
    }
  }
}
.slide {
  display: none;
}
.slide.active {
  display: block;
}
.dot.active {
  background-color: $main;
}
.dots-wrapper {
  display: flex;
  margin-top: 15px;
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: .1rem solid $main;
  margin-right: 1.4rem;
  cursor: pointer;
  &:last-child {
  margin-right: 0;
  }
}
.btn-prev {
  display: block;
}
.btn-next {
  display: block;
}




//      Footer
.footer {
  &-menu {
  padding: 3rem;
  @media (max-width: $large) {
    border-top: 1px solid $main;
    }
  }
  &-socials {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 11rem;
    @media (max-width: $small) {
      padding-top: 2rem;
    }
    &__photo {
      cursor: pointer;
    }
  }
  &__logo {
    float: right;
    @media (max-width: $small) {
      height: 70%;
    }
  }
  &__rights {
    @media (max-width: $small) {
      position: relative;
      top: -1.5rem;
    }
  }
  &-bottom {
    margin-top: 9.5rem;
  }
  &-list {
    &__item {
      line-height: 2.8rem;
      letter-spacing: 0.081rem;
      cursor: pointer;
      &:hover:after {
        content: '';
        position: absolute;
        border-bottom: .3rem solid $main;
        width: 3rem;
        display: block;
      }
      &_title {
        padding-bottom: 2rem;
      }
    }
    &:nth-child(2) {
      @media (max-width: $small) {
        padding-bottom: 3rem !important;
      }
    }
  }
}
.padding-bottom {
  padding-bottom: 1.3rem;
}