@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro&display=swap");
.upper {
  text-transform: uppercase;
}

.margin {
  padding-top: 3rem;
}

.border {
  border-left: 0.1rem solid #FF0000;
}

html {
  font-size: 10px;
}

body {
  background-color: F5F2EA;
  color: #FF0000;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FF0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

section {
  border-bottom: 0.1rem solid #FF0000 !important;
}

input[type=text]::-webkit-input-placeholder {
  color: #FF0000;
}

input[type=text]::-moz-placeholder {
  color: #FF0000;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  padding: 0 2.5rem;
  align-items: center;
  border-bottom: 0.1rem solid #FF0000;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  font-family: "Source Sans Pro", sans-serif !important;
}
.nav-logo {
  margin-top: 1.2rem;
  width: 11rem;
}
.nav-item {
  padding: 2.7rem 4rem 2.8rem 0rem;
}
.nav-item:not(:last-of-type) {
  padding-right: 4rem;
}
.nav-item:hover {
  border-bottom: 0.2rem solid #FF0000;
}

#offer {
  background-color: #F0D2B7;
  padding: 15rem 0;
  text-align: center;
}

.offer-btn {
  border: 0.1rem solid #FF0000;
  font-size: 1.5rem;
  padding: 3rem 0;
  display: block;
  max-width: 200px;
}
.offer-btn:nth-child(1) {
  margin-right: 3rem;
}
.offer-quote {
  font-size: 1.9rem;
}
.offer-title {
  font-size: 6.5rem;
  margin: 2.5rem 0 2.9rem;
}
.offer-subtitle {
  font-size: 2.1rem;
  margin-bottom: 7.3rem;
}

.btn-group {
  display: flex-inline;
  justify-content: center;
}

#why {
  background-color: #fff;
}

.yes, .no {
  border-right: 0.1rem solid #FF0000;
  padding-left: 3rem;
}

.why-title {
  font-size: 3.4rem;
  padding: 2.7rem 0 5.3rem;
}
.why-list__item {
  font-size: 2.1rem;
  font-weight: 300;
}

.compromise {
  padding: 2.4rem 0 16.7rem;
}
.compromise-title {
  font-size: 4.6rem;
  font-weight: 300;
  padding-top: 2.4rem;
}

.shop-choose {
  border-right: 0.1rem solid #FF0000;
}
.shop-choose__arrow {
  padding-top: 5rem;
}
.shop-choose__title {
  font-size: 6.5rem;
  padding: 5.1rem 0 2.9rem 3rem;
}

.form {
  padding: 2.9rem 0 2rem 2.6rem;
}
.form__title {
  font-size: 4.8rem;
}
.form__paragraph {
  padding: 3.1rem 0 0.9rem 0;
  font-size: 2rem;
  max-width: 41.9rem;
  display: block;
}
.form__license {
  padding-top: 8.2rem;
  display: block;
  color: #FF0000;
}
.form-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 35.48rem;
}
.form-inner__btn {
  color: #fff;
  background-color: #FF0000;
  border: 0.1rem solid #FF0000;
  font-size: 1rem;
  letter-spacing: 0.223rem;
}
.form-inner__input {
  padding: 1.4rem 0 0.3rem 1rem;
  border: 0.2rem solid #FF0000;
  font-size: 0.9rem;
  letter-spacing: 0.223rem;
  width: 50%;
}
.form-inner__input:nth-child(3) {
  width: 74%;
}

.product-featured {
  padding: 4.6rem 0 3rem 3rem;
}
.product-featured__title {
  font-size: 3.3rem;
  margin-bottom: 41rem;
}
.product-card {
  margin-left: 2.6rem;
}

.press {
  padding: 3rem 0 3rem 3rem;
}
.press-btn {
  border: 0.1rem solid #FF0000;
  margin-top: 32.8rem;
  border-radius: 50%;
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  color: #FF0000;
  letter-spacing: 0.13rem;
}
.press__title {
  font-size: 4.8rem;
}
.press-slide__subtitle {
  font-size: 2.2rem;
  max-width: 65rem;
  margin-top: 4.4rem;
  display: block;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 3rem 0 3rem 3rem;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.dot.active {
  background-color: #FF0000;
}

.dots-wrapper {
  display: flex;
  margin-top: 15px;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #FF0000;
  margin-right: 1.4rem;
  cursor: pointer;
}
.dot:last-child {
  margin-right: 0;
}

.btn-prev {
  display: block;
}

.btn-next {
  display: block;
}/*# sourceMappingURL=style.css.map */