@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro&display=swap');

$main: #FF0000;
.upper {
  text-transform: uppercase;
}
.margin {
  padding-top: 3rem;
}
.border {
  border-left: .1rem solid $main;
}
.hover {
  &:hover {
  background-color: #fff;
  cursor: pointer;
  }
}

html {
  font-size: 10px;
}
body {
  background-color: F5F2EA;
  color: $main;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $main;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    transition: all .5s ease;
}
section {
  border-bottom: .1rem solid $main !important;
}
input[type="text"]::-webkit-input-placeholder {
  color: $main;
}
input[type="text"]::-moz-placeholder {
  color: $main;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
}
.block {
  display: block;
}









.header {
  padding: 0 2.5rem;
  align-items: center;
  border-bottom: .1rem solid $main;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif !important;
}
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 11rem;
    height: 3.4rem;
    display: block;
  }
  &__item {
    padding: 2.7rem 4rem 2.8rem 0rem;
    &:hover:after {
      content: '';
      position: absolute;
      border-bottom: .4rem solid $main;
      width: 4rem;
      display: block;
      top: 7.3rem;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.hamburger {
  display: none;
}
.popup {
  display: none;
}
@media (max-width: 1000px) {
  .menu {
    display: none;
  }
  .navbar__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: flex;
    &__field {
      padding: 1rem 0;
      cursor: pointer;
    }
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: $main;
    transition: 0.2s;
  }
  .popup {
    position: fixed;
    top: 5rem;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }
  .open {
    left: 0;
  }
}





//    section OFFER
#offer {
  background-color: #F0D2B7;
  padding: 15rem 0;
  text-align: center;
}
.offer {
  &-btn {
    border: .1rem solid $main;
    font-size: 1.5rem;
    padding: 3rem 0;
    width: 20rem;
    display: block;
    &:hover {
      color: white;
      background-color: $main;
    }
    &:nth-child(1) {
      margin-right: 3rem;
    }
  }
  &-quote {
    font-size: 1.9rem;
  }
  &-title {
    font-size: 6.5rem;
    margin: 2.5rem 0 2.9rem;
  }
  &-subtitle {
    font-size: 2.1rem;
    margin-bottom: 7.3rem;
  }
}
.btn-group {
  display: flex;
  justify-content: center;
}



//    section WHY
#why {
  background-color: #fff;
}
.yes, .no {
  border-right: .1rem solid $main;
  padding-left: 3rem;
}
.why {
  &-title {
    font-size: 3.4rem;
    padding: 2.7rem 0 5.3rem;
  }
  &-list__item {
    font-size: 2.1rem;
    font-weight: 300;
  }
}



//   Compromise section
.compromise{
  padding: 2.4rem 0 16.7rem;
  &-title {
    font-size: 4.6rem;
    font-weight: 300;
    padding-top: 2.4rem;
  }
}



//    Shop section
.shop {
  &-button {
    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $main;
    }
    &__arrow {
      padding-top: 5rem;
      margin-right: 3rem;
      float: right;
    }
    &__title {
      font-size: 6.5rem;
      padding: 5.1rem 0 2.9rem 3rem;
    }
  }
}



//    Email section
.form {
  padding: 2.9rem 0 2rem 2.6rem;
  &__title {
    font-size: 4.8rem;
  }
  &__paragraph {
    padding: 3.1rem 0 .9rem 0;
    font-size: 2rem;
    max-width: 41.9rem;
    display: block;
  }
  &__license {
    padding-top: 8.2rem;
    display: block;
    color: $main;
  }
  &-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 35.48rem;
    max-height: 7rem !important;
    &__btn {
      color: #fff;
      background-color: $main;
      border: .1rem solid $main;
      font-size: 1rem;
      letter-spacing: .223rem;
    }
    &__input {
      padding: 1.4rem 0 .3rem 1rem;
      border: .2rem solid $main;
      font-size: .9rem;
      letter-spacing: .223rem;
      width: 50%;
      &:nth-child(3) {
        width: 74%;
      }
    }
  }
}



//    Product section
.product {
  &-featured {
    padding: 4.6rem 0 3rem 3rem;
    &__title {
      font-size: 3.3rem;
      margin-bottom: 41rem;
    }
  }
  &-card {
    margin-left: 2.6rem;
  }
}



//    Press/slider
.press {
  &-read {
    margin: 3rem 0 3rem 3rem;
  }
  &-btn {
    border: .1rem solid $main;
    margin-top: 32.8rem;
    border-radius: 50%;
    padding: 2rem 1.5rem;
    font-size: 1.5rem;
    color: $main;
    letter-spacing: .13rem;
    background-color: #F5F2EA;
    &:hover {
      color: #fff;
      background-color: $main;
    }
  }
  &__title {
    font-size: 4.8rem;
  }
  &-slide {
    &__subtitle {
      font-size: 2.2rem;
      max-width: 65rem;
      margin-top: 4.4rem;
      display: block;
    }
    &__title {
      font-size: 4.8rem;
    }
  }
}
.slider {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 3rem 0 3rem 3rem;
  &-inner {
    height: 41.5rem;
  }
}
.slide {
  display: none;
}
.slide.active {
  display: block;
}
.dot.active {
  background-color: $main;
}
.dots-wrapper {
  display: flex;
  margin-top: 15px;
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: .1rem solid $main;
  margin-right: 1.4rem;
  cursor: pointer;
  &:last-child {
  margin-right: 0;
  }
}
.btn-prev {
  display: block;
}
.btn-next {
  display: block;
}




//      Footer
.footer {
  &-menu {
  padding: 3rem;
  }
  &-socials {
    margin-left: auto;
    &__photo {
      margin-left: 2.6rem;
      cursor: pointer;
    }
  }
  &__logo {
    float: right;
  }
  &-bottom {
    margin-top: 9.7rem;
  }
  &-list {
    &__item {
      line-height: 2.8rem;
      cursor: pointer;
      &:hover:after {
        content: '';
        position: absolute;
        border-bottom: .3rem solid $main;
        width: 3rem;
        display: block;
      }
      &_title {
        padding-bottom: 2rem;
      }
    }
  }
}
.padding-bottom {
  padding-bottom: 1.3rem;
}