- var pageTitle = 'hnst'

html(lang="ru")
  head
    meta(charset="utf-8")
    title= pageTitle
    style
      include styles/normalize.css
      include styles/bootstrap-grid.min.css
      include styles/bootstrap-reboot.min.css
      include styles/style.css
  body
    include modules/header

    section#offer
      .container
        .row.align-items-center
          .col-lg-6.col.offer
            span.offer-quote.upper beat the lockdown blues with
            h1.offer-title The world's most sustainable denim collection.
            h3.offer-subtitle Let's ditch fast fashion and change the world.
            .btn-group
              a.offer-btn.upper shop Women
              a.offer-btn.upper shop Men
          .col-lg-6.col.g-0
            img(src="../images/offer.png", alt="offer").offer-photo

    section#why
      .container
        .row
          .col-lg-6.col
            .row
              .col-md-6.col.yes
                h2.why-title.upper Yes
                ul.why-list
                  li.why-list__item + 56% Recycled denim
                  li.why-list__item + saves 76% CO2
                  li.why-list__item + 100% recyclable
                  li.why-list__item + saves 6639 liter water
                  li.why-list__item + 100% Made in EU
              .col-md-6.col.no
                h2.why-title.upper No
                ul.why-list
                  li.why-list__item - Toxic Chemicals
                  li.why-list__item - Plastic fibers or coating
                  li.why-list__item - Extra labels
                  li.why-list__item - Unethical labour
                  li.why-list__item - Compromises
          .col-lg-6.g-0
            img(src="../images/secondsection.png", alt="offer").why-photo

    section#compromise.compromise
      .container
        .row
          .col
            span.compromise-title Jeans that doesn't compromise on style, sustainability or quality.

    section#shop.shop
      .container
        .row
          a.col-md-6.g-0.shop-button
            img(src="../images/women.png", alt="women").shop-button__photo
            row.g-0.d-flex
              h2.col-sm-6.shop-button__title Women
              .col-sm-6
                img(src="../images/arrow.png", alt="arrow").shop-button__arrow
          a.col-md-6.g-0.shop-button.border
            img(src="../images/men.png", alt="men").shop-button__photo
            row.g-0.d-flex
              h2.col-sm-6.shop-button__title Men
              .col-sm-6
                img(src="../images/arrow.png", alt="arrow").shop-button__arrow

    section#mail.mail
      .container
        .row
          .col-lg-6.col-md-12.g-0.overflow
            img(src="../images/jeans.png", alt="mail").mail-photo
          .col-lg-6.col-md-12.g-0
            include modules/mail

    section#product.product
      .container
        .row
          .col-xl-3.col-md-6.g-0
            .product-featured.hover
              h2.product-featured__title.upper Featured Products
              img(src="../images/arrow.png", alt="arrow").product-featured__arrow
          .col-xl-3.col-md-6.g-0.margin.border.hover
            .product-card
              .overflow
                img(src="../images/1.png", alt="arrow").product-card__image
                .row.margin
                  .col-6
                    h4.product-card__title.upper Straight
                    p.product-card__description Straight fit
                  .col-6
                    span €135,00
          .col-xl-3.col-md-6.g-0.margin.border.hover
            .product-card
              .overflow
                img(src="../images/2.png", alt="arrow").product-card__image.
                .row.margin
                  .col-6
                    h4.product-card__title.upper Straight
                    p.product-card__description Mom fit
                  .col-6
                    span €95,00
          .col-xl-3.col-md-6.g-0.margin.border.hover
            .product-card
              .overflow
                img(src="../images/3.png", alt="arrow").product-card__image
                .row.margin
                  .col-6
                    h4.product-card__title.upper Tapered
                    p.product-card__description Tapered fit
                  .col-6
                    span €165,00

    section#press.press
      .container
        .row
          .col-md-6
            .press-read
              h2.press__title Press
              a
                button.press-btn.upper Read all
          .col-md-6.border
            .slider
              .slider-inner
                .slide.active
                  span.press-slide__title.upper Forbes
                  blockquote.press-slide__subtitle "This model addresses several limitations of its competitors, namely denim landfill waste and excessive water consumption required to grow new virgin cotton fibres."
                .slide
                  span.press-slide__title.upper Tatler
                  blockquote.press-slide__subtitle "I owe my success to having listened respectfully to the very best advice, and then going away and doing the exact opposite."
                .slide
                  span.press-slide__title.upper Cosmopolitan
                  blockquote.press-slide__subtitle "Success is not final; failure is not fatal: It is the courage to continue that counts."
              .dots-wrapper
                span.dot.active
                span.dot
                span.dot

    include modules/footer
    script(src='main.js')